<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dept84films.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC2C88051BFFE062004CA9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC2C88241BFFE063004CA9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC2C882F1BFFE063004CA9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
